<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.hotel.fd.mapper.IRoomMapper">

  <select id="selectByAll" resultType="Room">
    select * from room
  </select>
  
  <select id="selectByPrice" resultType="Room">
    select * from room where roomPrice&lt;=#{high} and roomPrice&gt;=#{low}
  </select>
  
   <update id="update" >
    update room set roomStatus=#{roomStatus} where roomId=#{roomId}
  </update>
  
</mapper>